repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Git style
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: forbid-new-submodules
      - id: no-commit-to-branch
      # Common errors
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      # Cross platform
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff-check
      # Run the formatter
      - id: ruff-format
